* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Harmattan&family=IBM+Plex+Sans+Condensed&family=Jost&family=Quicksand&display=swap");

/* font-family: "DM Mono", monospace;
font-family: "Harmattan", sans-serif;
font-family: "IBM Plex Sans Condensed", sans-serif;
font-family: "Jost", sans-serif;
font-family: "Quicksand", sans-serif; */

body {
  background-color: rgb(0, 0, 0);
}

header h1 {
  font-size: 3em;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  letter-spacing: 0.24em;
}

h1 {
  font-weight: 700;
}

.semibold {
  font-weight: 400;
}

.regular {
  font-weight: 100;
}

.name {
  font-family: "DM Mono", monospace;
}

.portfolio {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}

.icons {
  display: flex;
  gap: 0.5em;
  position: relative;

  font-size: 2.5em;
}

.icons a {
  text-decoration: none;
  color: inherit;
}

.container_header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
}

.eu img {
  position: relative;
  border-radius: 4em;
}

.title h2 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 600;
}

.descricao {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.descri {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  gap: 1em;
}

.container_sobre {
  color: white;
  display: flex;
  gap: 3em;
  padding: 2em 16em 0 16em;
}

.container_logos {
  display: flex;
  flex-direction: column;

  text-align: center;
  color: white;
  padding-top: 2em;
}

.container_logos h2 {
  font-family: "Jost", sans-serif;
  font-size: 3em;
}

.year span {
  font-family: "Jost", sans-serif;
  font-size: 2em;
}

.container_artes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 16em;
  position: relative;
  align-items: center;
}

.banner1 {
  width: 100%;
  height: 43em;
  background-image: url(/Portf-lio/img/inteiro\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.artes {
  display: flex;
  flex-direction: row;
  padding: 4em 18em;
  gap: 6em;
  justify-content: center;
  align-items: flex-end;
}

.artes2 {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.banner2 {
  height: 30em;
  background-image: url(/Portf-lio/img/Frame\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.frase {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 4em;

  font-family: "Jost", sans-serif;
}

.frase p {
  font-size: 2.5em;
  text-align: justify;
  font-weight: 600;
}

.section {
  display: flex;
  padding: 4em 26em;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel {
  padding: 4em;
}

footer {
  background-color: white;
}

.made {
  font-family: "Harmattan", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.core {
  font-size: 2em;
  font-family: "Quicksand", sans-serif;
  color: rgb(255, 0, 0);
}

.brasil {
  font-family: "Harmattan", sans-serif;
  font-size: 1.5em;
}

.container_footer {
  flex-wrap: wrap;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

@media (max-width: 425px) {
  .container_header {
    flex-direction: column;
  }

  .container_sobre {
    padding: 1em;
    display: flex;
    flex-direction: column;
  }

  .section {
    display: flex;
    flex-direction: column;
    padding: 4em;
  }

  .container_footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.1em;
  }

  .banner2 {
    height: 10em;
  }

  .banner1 {
    height: 10em;
    background-image: url(/Portf-lio/img/inteiro\ 1.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .artes {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    align-items: center;
  }

  .erro img {
    width: 350px;
    height: 450px;
  }

  .don img {
    width: 350px;
    height: 350px;
  }

  .section {
    display: flex;
    padding: 2em 0.5em;
  }

  .eu img {
    width: 350px;
    height: 380px;
  }

  .ajuste img {
    width: 350px;
    height: 220px;
  }

  .container_artes {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.05em;
    position: relative;
    align-items: center;
  }

  .container_sobre {
    color: white;
    display: flex;
    gap: 2em;
    padding: 2em 0.5em;
    align-items: center;
  }

  .frase {
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
    gap: 1em;

    font-family: "Jost", sans-serif;
  }

  .frase p {
    font-size: 2em;
    text-align: justify;
    font-weight: 600;
  }

  .items {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: 1;
  }

  .items img {
    width: 114px;
    height: 114px;
  }
}
